body {
	font-family: 'Open Sans', sans-serif;
}
.container {
	width:1000px;
	margin:0 auto;
	padding-top:20px;
}
.card {
	margin:1em 1em !important;
}
.ui.cards > .card, .ui.card {
	width:250px !important;
}